<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div id="container">
        <div id="messages">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif%}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="forms">
            <div class="form">
                <h2>Registration</h2>
                <form action="/register/" method="post">
                    {% csrf_token %}
                    <label> First Name<input type="text" name="first-name" /></label>
                    <label> Last Name<input type="text" name="last-name" /></label>
                    <label> Email<input type="email" name="email" /></label>
                    <label> Password<input type="password" name="password" /></label>
                    <label> Confirm PW<input type="password" name="confirm-pw" /></label>
                    <button type="submit">Register</button>
                </form>
            </div>

            <div class="form">
                <h2>Login</h2>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <label> Email<input type="email" name="email" /> </label>
                    <label> Password<input type="password" name="password" /> </label>
                    <button type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>